*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top_block{
    width: 100%;
    min-height: 550px;
    float: left;
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav{
    width: 100%;
    min-height: 100px;
    float: left;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}

.logo{
    min-width: 150px;
    min-height: 100px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-left: 40px;
    color: rgb(190, 190, 190)
}

.logo b{
    color: white;
}
.dote{
    color: aqua;
}

.navbar{
    width: 650px;
    min-height: 100px;
    float: left;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul li{
    list-style: none;
    float: left;
    padding: 10px 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    border-bottom: 3px solid transparent;
    padding-bottom: 7px;
    position: relative;
    transition: 1px;
}

.navbar ul li a:hover{
    padding-bottom: 7px;
    transition: 0.2s;
}

.navbar ul li a::after{
    content: "";
    height: 3px;
    width: 0px;
    background: white;
    position: absolute;
    left: 0px;
    bottom: -3px;
    transition: 0.3s ease-in-out;
}

.navbar ul li a:hover::after{
    width: 100%;
}

.icon_menu{
    height: 100px;
    width: 100px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
}

.icon_style{
    cursor: pointer;
}
.icon_style:hover{
    color: rgb(32, 179, 179);
    transition: 0.3s;
}

.bottom_block{
    width: 100%;
    min-height: 400px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan{
    min-width: 400px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(190, 190, 190)
}

h2{
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.add_slogan{
    width: 400px;
    height: 30px;
    font-size: 17px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(190, 190, 190);
    margin-bottom: 100px;
}

.bottom_section{
    width: 100%;
    height: 550px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center_section{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
}

.section1 , .section3 , .section2{
    height: 200px;
    width: 350px;
    background-color: rgb(32, 179, 179);
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.section2{
    height: 250px;
    width: 320px;
    background-color: rgb(88, 22, 150);
}

.icon_section{
    padding-bottom: 22px;
}

.bottom-info{
    width: 1020px;
    height: 300px;
    float: left;
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 50px;
}

.bottom-info-left{
    width: 617px;
    height: 200px;
    float: left;
}

.bottom-top-info{
    color:  rgb(32, 179, 179);
}

.bottom-middle-info{
    font-size: 50px;
    font-weight: lighter;
    color: rgb(70, 70, 70);
}

.bottom-down-info{
    color: grey;
}

.button{
    background-color:rgb(88, 22, 150);
    color: white;
    font-weight: 400;
    padding: 15px 30px;
    border-radius: 100px;
    border: none;
    margin-top: 30px;
    letter-spacing: 1px;
}

.button:hover{
    background-color:rgb(32, 179, 179); 
    cursor: pointer;
    transition: 0.3s;
}

.bottom-info-right{
    width: 510px;
    height: 300px;
    background-image: url(https://blogs.windows.com/wp-content/uploads/prod/sites/2/2015/04/Aspire_Switch_10_SW5-015_02.jpg);
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 60px;
}
